<footer class="footer mt-20" style="">
	<div class="container">
		欢迎使用 {:lang('backend_name')}
	</div>
</footer>
<script type="text/javascript" src="{$Think.ADMIN_STATIC}/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$Think.ADMIN_STATIC}/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="{$Think.ADMIN_STATIC}/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="{$Think.ADMIN_STATIC}/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="{$Think.ADMIN_STATIC}/h-ui/js/H-ui.admin.js"></script> 
